---
- name: Install desktop environment packages
  become: true
  block:
    - name: Install desktop environment packages | Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600  # 1h

    - name: Install desktop environment packages | Install desktop environment packages
      ansible.builtin.apt:
        name: "{{ all_gnome_packages | flatten }}"
        state: present
        install_recommends: false
      vars:
        all_gnome_packages: [
          "{{ general_gnome_packages }}",
          "{{ gnome_shell_extension_packages }}",
          "{{ gnome_power_management_packages }}",
          "{{ gnome_network_manager_packages }}",
          "{{ gnome_bluetooth_support_packages }}",
          "{{ gnome_additional_utility_packages }}",
          "{{ nautilus_additional_packages }}",
          "{{ network_utility_packages }}",
          "{{ multimedia_utility_packages }}",
        ]

    - name: Install desktop environment packages | Deleting downloaded packages that are no longer required
      ansible.builtin.apt:
        clean: true
