#
# Sway Output Configuration
#

#
# Displays
#
# You can get the names of your outputs by running: swaymsg -t get_outputs

  #output DP-1 resolution 1920x1080@144Hz position 1920,0
  output eDP-1 resolution 3840x2160@60Hz position 3840,0 scale 2
  output HDMI-A-1 resolution 3840x2160@60Hz position 3840,0 scale 2
  output HDMI-A-2 resolution 1920x1080@60Hz position 1920,0

#
# Wallpaper
#
  output * bg ~/.config/sway/wallpaper/wallpaper03_3840x2160.png fill
