[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
BindsTo=sway-session.target

[Service]
Type=simple
StandardError=journal
EnvironmentFile={{ env_file }}
ExecStart=/usr/bin/waybar
# for debug
#ExecStart=/usr/bin/waybar -l debug
ExecReload=kill -SIGUSR2 $MAINPID
ExecStop=/bin/kill -2 $MAINPID
Restart=always
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
