*{
  font-family: Iosevka Nerd Font, FontAwesome, Roboto, Noto Sans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background-color: rgba(0, 0, 0, 1);
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}
*/

#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -2px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
  font-weight: bold;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.2);
}

#workspaces button.focused {
  background-color: #535D6C;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #535D6C;
  background-color: #FF8000;
}

#mode {
  padding: 2px 10px;
  color: #535D6C;
  background-color: #FF8000;
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#clock {
  padding: 2px 2px;
  color: #FFFFFF;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#wireplumber.output,
#wireplumber.input,
#tray,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 2px 10px;
  color: #FFFFFF;
}

/* #window, */
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery {
  color: #26A65B;
}

#battery.charging, #battery.plugged {
  color: #26A65B;
}

@keyframes blink {
  to {
    color: #ff0000;
  }
}

#battery.warning:not(.charging) {
  color: #ffff00;
}

#battery.critical:not(.charging) {
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#wireplumber.output.muted,
#wireplumber.input.muted
{
  color: #535d6c;
}

#pulseaudio.bluetooth {
  color: #618cc9;
}

#temperature {
  color: #ffffff;
}

#temperature.critical {
  color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  color: #535d6c;
}

#idle_inhibitor.activated {
  color: #ffffff;
}
