deb http://{{ apt_source_mirror_url }}/debian/ stable main contrib non-free non-free-firmware
deb http://security.{{ apt_source_mirror_url }}/debian-security stable-security main contrib non-free non-free-firmware
deb http://{{ apt_source_mirror_url }}/debian/ stable-updates main contrib non-free non-free-firmware
