[Desktop Entry]
Name=Post install script
GenericName=Post install script
Comment=Configure Gnome after installation
Exec={{ post_install_script }}
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
