---
- name: Install packages
  become: true
  block:
    - name: Install packages for hypervisor
      ansible.builtin.apt:
        name: "{{ item }}"
        state: latest
        install_recommends: false
      loop:
        - "{{ libvirt_packages }}"

    - name: Deleting downloaded packages that are no longer required
      ansible.builtin.apt:
        clean: true
