---
- name: Configure APT
  become: true
  block:
    - name: Set APT options
      ansible.builtin.lineinfile:
        dest: "{{ apt_config_file }}"
        line: "{{ item }}"
        create: true
      loop: "{{ apt_options }}"

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: dist
        update_cache: true
      when:
        - UPGRADE_PACKAGES
