---
- name: Install packages
  become: true
  block:
    - name: Install packages | Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600  # 1h

    - name: Install packages | Install additional packages
      ansible.builtin.apt:
        name: "{{ all_additional_packages | flatten }}"
        state: present
        install_recommends: false
      vars:
        all_additional_packages: [
          "{{ archivators_packages }}",
          "{{ filesystems_utils_packages }}",
          "{{ certificates_gpg_packages }}",
          "{{ networking_packages }}",
          "{{ util_packages }}",
          "{{ user_software_packages }}",
        ]

    - name: Install packages | Install the default text editor
      when:
        - default_text_editor_package != "nano"
      block:
        - name: Install packages | Install the default text editor | Install text editor package
          ansible.builtin.apt:
            name: "{{ default_text_editor_package }}"
            state: present
            install_recommends: false

        - name: Install packages | Install the default text editor | Find the executable file of the default text editor
          ansible.builtin.find:
            path:
              - /usr/bin
              - /usr/local/bin
              - /bin
            file_type: file
            patterns: "{{ 'nvim' if 'vim' in default_text_editor_package else default_text_editor_package }}"
            recurse: false
            mode: "0755"
          register: path_to_default_text_editor

        - name: Install packages | Install the default text editor | Set the default text editor
          community.general.alternatives:
            name: editor
            path: "{{ path_to_default_text_editor.files[0].path }}"
          when:
            - path_to_default_text_editor.files | length > 0
