---
- name: Install packages
  become: true
  block:
    - name: Install additional packages
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
        install_recommends: false
      loop:
        - "{{ shell_package }}"
        - "{{ archivators_packages }}"
        - "{{ filesystems_utils_packages }}"
        - "{{ certificates_gpg_packages }}"
        - "{{ tui_packages }}"
        - "{{ networking_packages }}"
        - "{{ util_packages }}"

    - name: Install neovim
      when:
        - INSTALL_NEOVIM
      block:
        - name: Install neovim | Install neovim package
          ansible.builtin.apt:
            name: "{{ item }}"
            state: present
            install_recommends: false
          loop: "{{ neovim_package }}"

        - name: Install neovim | Correct editor alternatives
          community.general.alternatives:
            name: editor
            path: /usr/bin/nvim
