---
- name: Configure system for SSD storage
  become: true
  block:
    - name: Enable fstrim
      ansible.builtin.systemd_service:
        name: fstrim.timer
        state: started
        enabled: true

    - name: Set sysctl parameters for SSD
      ansible.posix.sysctl:
        name: "{{ item.key }}"
        value: "{{ item.value }}"
        sysctl_set: true
        state: present
        reload: true
      loop: "{{ lookup('ansible.builtin.dict', ssd_sysctl) }}"
  when: (SSD_DEVICES is defined) and (SSD_DEVICES | length > 0)
